<br />
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="dropzone" class="jumbotron"><h3>Drop files here</h3></div>
    <output id="list" class="text-primary"></output>
    <input id="dragdropsend" class="form-control btn-primary" type="button" value="Send" />
}