@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "UploadImage", name = "UploadImage" })) {
    <h2 id="fileHelp" class="form-text text-muted">Please upload an image:</h2>
    <div class="input-group">
        <input class="form-control-file text-primary" type="file" name="file" id="file" />
        <input class="form-control btn-primary" type="submit" value="Upload" />
    </div>
}