@{
    ViewBag.Title = "Home Page";
}

<br />
<!-- MAIN APP GOES HERE -->
<h2>Please drop your files here:</h2>
<div id="dropArea">
    <p>Drop your files here</p>
</div>
<h4>Uploaded files:</h4>
<ul class="list-group" id="uploadList">

</ul>