@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <ul class="nav nav-tabs nav-fill">
        <li class="nav-item">
            <a id="file_upload" class="nav-link active">File Upload</a>
        </li>
        <li class="nav-item">
            <a id="drag_and_drop" class="nav-link">Drag &amp; Drop</a>
        </li>
        @*<li class="nav-item">
                <a id="web_cam" class="nav-link">Web Cam</a>
            </li>*@
    </ul>
</div>
<div id="holder" class="container-fluid">
    @Html.Partial("FileUpload")
</div>